.container{
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding-top: 15rem;
    width: 50%;
}

.imgItem{
    height: auto;
    width: 44%;
}

.text{
    padding-top: 7rem;
    padding-left: 1rem;
    width: 44%;
}

.button{
    padding-top: 20px;
}