.wrapper{
    padding-bottom: 2rem;
    width: 70%;
}

.textProf{
    margin: 0;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}

.textName{
    margin: 0;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}

.link{
    margin: 0;
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;

}

.text{
    margin: 0;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 1rem;
}