.buttonHover{
    font-size: 16px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    padding: .5rem 1.5rem;
    transition: .5s all ease;
    border: #000 1px solid;
    text-align: center;
}

.buttonHover:hover{
    background-color: #fff;
    color: #000;
}