.container{
    display: grid;
    grid-template-columns: 1.2fr .9fr 1.2fr;
    grid-template-rows: 1fr;
    padding: 5rem  0 0;
}

.containerContact{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 7rem;
}